/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/practicaGitHub.docx
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/tema4.iml
/UT_4 v2.pptx
/.idea/vcs.xml
/~$acticaGitHub.docx
/~WRL0005.tmp
